<div class='cat-results-picture'>
  <h3>Your Internet Cat Match is...</h3>
  <h4><%= @cat.name %> </h4>
  <%= image_tag @cat.picture %>
  <p class='cat-description'> <%= @cat.description %> </p>
</div>

<% content_for :head do  %>
  <meta property="og:title"         content="You got <%= @cat.name %>!" />
  <meta property="og:image"         content="<%= @cat.picture %>" />
  <meta property="og:description"   content="<%= @cat.description%>" />
  <meta property="og:url"           content="https://purrrsonalitytest.herokuapp.com/results" />
  <meta property="fb:app_id"        content= "<%=ENV['FACEBOOK_APP_ID']%>" />
  <meta property="og:type"          content="website">
<% end %>
