<%= render partial: "shared/cat_results" %>

<!-- <div id="facebook-button" class="fb-share-button" data-href="https://purrrsonalitytest.herokuapp.com/results" data-layout="button" data-mobile-iframe="false"></div> <br /><br /> -->

<!-- <% if content_for?(:head) %>
  <%= yield(:head) %>
<% end %> -->

<!-- <% content_for :head do  %>
  <meta property="og:title"         content="You got Keyboard Cat!" />
  <meta property="og:image"         content="https://33.media.tumblr.com/avatar_367d42588d28_128.png" />
  <meta property="og:description"   content="You like shirts" />
  <meta property="og:url"           content="https://purrrsonalitytest.herokuapp.com/" />
  <meta property="fb:app_id"        content= "<%=ENV['FACEBOOK_APP_ID']%>" />
  <meta property="og:type"          content="website">
<% end %> -->

<!-- POST /?id={object-instance-id or object-url}&amp;scrape=true -->

<!-- <% content_for :head do  %>
  <meta property="og:title"         content="You got <%= @cat.name %>!" />
  <meta property="og:image"         content="<%= @cat.picture %>" />
  <meta property="og:description"   content="<%= @cat.description%>" />
  <meta property="og:url"           content="https://purrrsonalitytest.herokuapp.com/results" />
  <meta property="fb:app_id"        content= "<%=ENV['FACEBOOK_APP_ID']%>" />
  <meta property="og:type"          content="website">
<% end %> -->
