<!DOCTYPE html>
<html>
<head>
  <title>Purrrsonality Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/navbar" %>

<div class="container">
  <% flash.each do |type, message| %>
    <div class="<%= type %>">
      <%= raw(message)%>
    </div>
  <% end %>
</div>

<%= yield %>

<!-- <div class='row'>
  <div class='col s5 offset-s1'>
    this is the question
  </div>
  <div class='col s5 offset-s1'>
      <div class='responses'>
        <input name='group1' value= '1' type='radio' id='1'/>
        <label for='1'>1</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '2' type='radio' id='2'/>
        <label for='2'>2</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '3' type='radio' id='3' />
        <label for='3'>3</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '4' type='radio' id='4' />
        <label for='4'>4</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '5' type='radio' id='5' />
        <label for='5'>5 </label>
      </div>
  </div>
</div> -->

<!-- <br><div class='center-align'><button name='submit' class='button btn cyan accent-4'>Submit!</button></div><br><br> -->

  <%= javascript_include_tag 'application' %>
</body>
</html>
