<!DOCTYPE html>
<html>
<head>
  <title>Purrrsonality Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/navbar" %>


<div class="container">
  <div class="flash">
    <h5>Please complete all questions!</h5>
  </div>
</div>

<!-- <div class='row'>
  <div class='col s5 offset-s1'>
    this is the question
  </div>
  <div class='col s5 offset-s1'>
      <div class='responses'>
        <input name='group1' value= '1' type='radio' id='1'/>
        <label for='1'>1</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '2' type='radio' id='2'/>
        <label for='2'>2</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '3' type='radio' id='3' />
        <label for='3'>3</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '4' type='radio' id='4' />
        <label for='4'>4</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '5' type='radio' id='5' />
        <label for='5'>5 </label>
      </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
       <div class="card-panel card-center teal">
         <span class="white-text">I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
         </span>
       </div>
   </div>
 </div> -->

 <!-- <img src = "grumpy_cat_large.jpg"> -->


<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
