<!DOCTYPE html>
<html>
<head>
  <title>Purrrsonality Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/navbar" %>

<div class="container">
  <% flash.each do |type, message| %>
    <div class="<%= type %>">
      <%= raw(message)%>
    </div>
  <% end %>
</div>

<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
