<!DOCTYPE html>
<html>
<head>
  <title>Purrrsonality Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <meta property="og:url"           content="http://purrrsonalitytest.herokuapp.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Purrrsonality Test" />
	<meta property="og:description"   content="See what internet cat you are!" />
  <meta property="og:image"         content="/assets/neko.png" />

</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1546954142266321";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <%= render partial: "shared/navbar" %>


<div class="container">
  <div class="flash">
    <h5>Please complete all questions!</h5>
  </div>
</div>

<!-- <div class='row'>
  <div class='col s5 offset-s1'>
    this is the question
  </div>
  <div class='col s5 offset-s1'>
      <div class='responses'>
        <input name='group1' value= '1' type='radio' id='1'/>
        <label for='1'>1</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '2' type='radio' id='2'/>
        <label for='2'>2</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '3' type='radio' id='3' />
        <label for='3'>3</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '4' type='radio' id='4' />
        <label for='4'>4</label>
      </div>
      <div class='responses'>
        <input name='group1' value= '5' type='radio' id='5' />
        <label for='5'>5 </label>
      </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
       <div class="card-panel card-center teal">
         <span class="white-text">I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
         </span>
       </div>
   </div>
 </div> -->

 <!-- <img src = "grumpy_cat_large.jpg"> -->


<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
